<main class="mt-4 mn-4">
    <div class="container">
        <h2>Estatísticas do Sistema</h2>
        <div class="info-div mt-4">
            <a href="/admin/users/1"><button><h3>Usuários</h3></button></a>
            <a href="/admin/notes"><button><h3>Número de Notas</h3></button></a>
        </div>
    </div>
</main>