<main class="mt-4 mb-4">
  <div class="container">
    <h2>Número de Notas</h2>

    <div class="card-div mt-4">
      <div class="row">
        <div class="col-sm-12 col-md-6 ">
          <div  class="card">
            <h3>Notas Abertas</h3>
            <h4>{{openNotes}}</h4>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 ">
          <div class="card">
            <h3>Notes Completas</h3>
            <h4>{{completedNotes}}</h4>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 ">
          <div  class="card">
            <h3>Notes Canceladas</h3>
            <h4>{{canceledNotes}}</h4>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 ">
          <div  class="card">
            <h3>Notes Canceladas</h3>
            <h4>{{removedNotes}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>