@import "variables.scss";
@import "models/forms.scss";

header,
.button-pgUp,
footer {
  display: none;
}

body {
  background-color: $white;
}

.icon-area,
.form-area {
  @include flex(center, center, column);
  height: 100vh;
}

.icon-area {
  background-color: $firstGreen;
}

.form-area {
  background-color: $lightGreen1;
}

.icon-mobile-icon {
  display: none;
}

@media (max-width: 768px) {
  .icon-area {
    display: none;
  }

  .icon-mobile-icon {
    @include flex(center, center, row);
    margin-bottom: 25px;
    h1 {
      font-size: 40px;
      color: $darkGreen;
    }
  }

  form {
    width: 95%;
  }
}
