<footer>
  <div class="footer-info">
    <p>Desenvolvido por:</p>
    <p><strong>Luis Fernando Alves de Lima</strong></p>
    <p>lima.luisfernando.dev@gmail.com</p>

  </div>
  <div class="footer-icon">
    <a href="" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
  </div>
</footer>