<header id="header">
  <div class="systemLogo">
    <a href="/">
      <img src="img/icon/MyNotesIcon.png" alt="Logo do Sistema" />
      <h1>MyNotes</h1>
    </a>
  </div>
  <nav class="menuHorizontal">
    <ul type="none">
      <li><a href="/new-note">Nova Nota</a></li>
      <li><a href="/completed-notes">Notas Concluídas</a></li>
      <li><a href="/canceled-notes">Notas Canceladas</a></li>
      <li><a href=""><img
            src="img/users/user0.png"
            alt="Imagem de perfil"
          /></a></li>
    </ul>
  </nav>
  <input type="checkbox" name="" id="checkbox-menu" />
  <label for="checkbox-menu" class="label-menu">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <div class="menuLateral">
    <div class="menuLateralHeader">
      <i class="fa-solid fa-x closeMenu"></i>
    </div>
    <nav>
      <ul type="none">
        <li><a href="/new-note">Nova Nota</a></li>
        <hr />
        <li><a href="/completed-notes">Notas Concluídas</a></li>
        <hr />
        <li><a href="/canceled-notes">Notas Canceladas</a></li>
      </ul>
      <a href=""><img src="img/users/user0.png" alt="Imagem de perfil" /></a>
    </nav>
  </div>
</header>

<div class="button-pgUp">
  <a href="#header">
    <i class="fa-solid fa-arrow-up"></i>
  </a>
</div>