<header id="header">
  <div class="systemLogo">
    <a href="/">
      <img src="img/icon/MyNotesIcon.png" alt="Logo do Sistema" />
      <h1>MyNotes</h1>
    </a>
  </div>
  <nav class="menuHorizontal">
    <ul type="none">
      <li><a href="/">Home</a></li>
      <li><a href="/new-note">Nova Nota</a></li>
      <li><a href="/completed-notes">Concluídas</a></li>
      <li><a href="/canceled-notes">Canceladas</a></li>
      {{#if admin}}
      <li><a href="/admin/">Admin</a></li>
      {{/if}}
      <li><a href="/profile">
          <img src="img/users/{{user.image_user}}" alt="Imagem de perfil" />
        </a></li>
    </ul>
  </nav>
  <input type="checkbox" name="" id="checkbox-menu" />
  <label for="checkbox-menu" class="label-menu">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <div class="menuLateral">
    <div class="menuLateralHeader">
      <i class="fa-solid fa-x closeMenu"></i>
    </div>
    <nav>
      <ul type="none">
        <li><a href="/">Home</a></li>
        <hr>
        <li><a href="/new-note">Nova Nota</a></li>
        <hr />
        <li><a href="/completed-notes">Concluídas</a></li>
        <hr />
        <li><a href="/canceled-notes">Canceladas</a></li>
      </ul>
      <a href="/profile"><img
          src="img/users/user0.png"
          alt="Imagem de perfil"
        /></a>
    </nav>
  </div>
</header>

<div class="button-pgUp">
  <a href="#header">
    <i class="fa-solid fa-arrow-up"></i>
  </a>
</div>