<main class="mt-4">
  <div class="container">
    <h2>Notas Abertas</h2>
    <div class="form-area">
      <a href="/new-note">
        <button>
          Nova Nota
          <i class="fa-solid fa-pencil"></i>
        </button>
      </a>
      <form action="/" method="get">
        <select name="noteFilter" id="noteFilter">
          <option value="">Crescente</option>
          <option value="">Decrescente</option>
        </select>
        <button type="submit"><i
            class="fa-solid fa-magnifying-glass"
          ></i></button>
      </form>
    </div>
    <div class="notes-div mt-4">
      <div class="notes mb-4">
        <div class="container">
          <div class="row">
            <div class="col-1">
              <i class="fa-solid fa-book"></i>
            </div>
            <div class="col-9">
              <h3><a href="">Titulo</a> <span><a href="">tag</a></span></h3>
              <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptate delectus sequi culpa non maiores libero nisi nulla
                sunt id ut alias natus, in rem at temporibus ea nobis tempora
                quas?</h4>
            </div>
            <div class="col-2">
              <a href="" class="complete-note"><i
                  class="fa-solid fa-check"
                ></i></a>
              <a href="" class="cancel-note"><i class="fa-solid fa-ban"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>