<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-5 icon-area">
        <img src="/img/icon/MyNotesIcon.png" alt="Logo do Sistema" />
      </div>
      <div class="col-sm-12 col-md-7 form-area">
        <div class="icon-mobile-icon">
            <h1>MyNotes <i class="fa-solid fa-pencil"></i></h1>
        </div>
        <form action="" method="post">
          <h2>LogIn</h2>
          <div class="input-area">
            <label for="loginEmail">E-mail:</label>
            <input type="email" name="loginEmail" id="loginEmail" placeholder="meuemail@email.com"/>
          </div>

          <div class="input-area">
            <label for="loginPassword">Senha: </label>
            <div class="inputPassword-div">
              <input type="password" name="loginPassword" id="loginPassword" />
              <span><i class="fa-solid fa-eye passwordViewButton"></i></span>
            </div>
          </div>
          <a href="/signin">Não possui conta? Cadastre-se aqui!</a>
          <button type="submit" class="btnSubmit" disabled>ENTRAR</button>
        </form>
      </div>
    </div>
  </div>
</main>