<main class="mt-4  mb-4">
  <div class="container">
    <h2>Nova Nota</h2>
    <form action="/new-note" method="post">
      <div class="input-area">
        <label for="noteTitulo">Titulo:</label>
        <input type="text" name="noteTitulo" id="noteTitulo" required/>
      </div>
      <div class="input-area">
        <label for="noteTag">Tag:</label>
        <input type="text" name="noteTag" id="noteTag" required/>
      </div>
      <div class="input-area">
        <label for="noteDate">Data Final:</label>
        <input type="date" name="noteDate" id="noteDate" required/>
      </div>
      <div class="input-area">
        <label for="noteContent">Conteúdo:</label>
        <textarea name="noteContent" id="noteContent" required></textarea>
      </div>
      <button type="submit">ANOTAR</button>
    </form>
  </div>
</main>