<main class="mt-4">
  <div class="container">
    <div class="note-div">
      <div class="note-header">
        <div class="note-title">
          <h2>Titulo</h2>
          <h3><a href="">Tag</a></h3>
        </div>
        <div class="button-div">
          <a href="/complete-note/{{_id}}" class="complete-note"><i
              class="fa-solid fa-check"
            ></i></a>
          <a href="/cancel-note/{{_id}}" class="cancel-note"><i
              class="fa-solid fa-ban"
            ></i></a>
        </div>
      </div>
      <div class="note-dates">
        <span>Data de criação:</span>
        <span>Data de finalização:</span>
      </div>
      <hr>
      <div class="note-content">
        <p>Meu conteúdo</p>
      </div>
    </div>
  </div>
</main>