<main>
  <a href="/" class="back-button">
    <i class="fa-solid fa-arrow-left"></i>
  </a>
  <h1>Meu Perfil</h1>
  <div class="container">
    <div class="profile-div">
      <div class="profile-pic-div">
        <div class="profile-pic">
          <img src="img/users/{{user.image_user}}" alt="" />
        </div>
        <div class="profile-name mt-3">
          <h2>{{user.name_user}}</h2>
          <h3>{{user.email_user}}</h3>
        </div>
      </div>
      <div class="option-profile">
        <a href="/edit-photo">Editar foto de perfil</a>
        <hr>
        <a href="/edit-profile">Editar perfil</a>
        <hr />
        <a href="/logout" class="exit-button">Sair</a>
      </div>
    </div>
  </div>
</main>